
@model List<Carts.Models.Order>

@using Carts.Models;
@{
    ViewBag.Title = "訂單列表";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //取得UserId List
    List<string> userIds = this.Model.Select(s => s.UserId).ToList();

    //取得UserId關聯的UserName List
    List<string> userNames = Utils.GetUserNames(userIds);

}

<h2>訂單列表</h2>

@using (Html.BeginForm("SearchByUserName", "ManageOrder"))
{
    @Html.TextBox("UserName", null, new { @class = "", placeholder = "請輸入會員暱稱" })
    <input type="submit" value="搜尋" class="btn btn-default"/>
}

<table class="table">
    <thead>
        <tr>
            <th>購買會員</th>
            <th>收貨人姓名</th>
            <th>收貨人電話</th>
            <th>收貨人住址</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (this.Model != null)
        {
            for (int i = 0; i < this.Model.Count; i++)
            {
                <tr>
                    <td>@userNames[i]</td>
                    <td>@this.Model[i].ReceiverName</td>
                    <td>@this.Model[i].ReceiverPhone</td>
                    <td>@this.Model[i].ReceiverPhone</td>
                    <td>
                        <a href="@Url.Action("Details", new { id = this.Model[i].Id })" class="btn btn-default">商品明細</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if(this.Model == null || this.Model.Count == 0)
{
    <p>沒有資料!</p>
}
